.post-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-form__field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.post-form__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: black;
  font-family: sans-serif;
}

.post-form__input {
  height: 72px;
}

.post-form__submit {
  font-size: 16px;
  line-height: 24px;
  color: var(--color__text);
  font-family: sans-serif;
  font-weight: bold;
  background-color: var(--color__secondary);
  border: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}
