.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

@keyframes appearance {
  from {
    opacity: 0;
    scale: 0.9;
  }

  to {
    opacity: 1;
  }
}

.post-list__item {
  animation: appearance 0.5s ease-out forwards;
}
